.wrapper {
  text-align: center;
}

.mantra {
  margin-top: 16px;
  margin-bottom: 18px;
}

.win-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #2d7f4f;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid #51b977;
  font-size: 14px;
}

.win-button:hover {
  background-color: #226640;
}
